<p-card header="Contactez-nous" class="w-full max-w-xl mx-auto mt-6">
    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" class="space-y-4">
      
      <div class="p-float-label">
        <input id="name" type="text" pInputText name="name" ngModel required class="w-full" />
        <label for="name">Nom</label>
      </div>
  
      <div class="p-float-label">
        <input id="email" type="email" pInputText name="email" ngModel required class="w-full" />
        <label for="email">Email</label>
      </div>
  
      <div class="p-float-label">
        <textarea
          id="message"
          pInputTextarea
          name="message"
          [(ngModel)]="message"
          maxlength="300"
          rows="5"
          required
          class="w-full"
        ></textarea>
        <label for="message">Message</label>
      </div>
      <div class="text-right text-sm text-gray-500 mt-1">
        {{ message.length }}/300 caractères
      </div>
  
      <p-button type="submit" label="Envoyer" [disabled]="contactForm.invalid"></p-button>
    </form>
  </p-card>
  <p-toast></p-toast>
